*{
  margin: 0;
  padding: 0;
}

.alphaDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(131,58,180);
  background: linear-gradient(117deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 67%, rgba(252,176,69,1) 100%);
  font-family: 'Shantell Sans', 'cursive';
}

.betaDiv{
  display: flex;
  /* justify-content: center; */
  height: 70vh;
  width: 28vw;
  border-radius: 0.8rem;
  border: 2px solid black;
  flex-direction: column;
}

.headingDiv{
  display: flex;
  justify-content: center;
}

.heading{
  margin-top: 1rem;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 10%;
}

li{
  list-style-type: none;
}
button{
  background-color: none;
}